extends layout

block content
  h1= title
  //- p Welcome to #{title}
  ul
    for t in todos 
      li.listItem(class=t.complete? "Complete":"")
        | Description : #{t.description}
        | Completed : #{t.complete}

    else 
      p No Todos Found
